{% load static %}
body, html{
    height: 100%;
    margin: 0;
}
.background{
    background: linear-gradient(to right, lightblue, lightgreen);
    height: 100%;
    background-position: center;
    position: relative;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}
.heading{
    position: absolute;
    top: 0;
    left: 45%;
    font-size: 25px;
}
.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align:  center;
}
input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 12px, 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
} 
button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    border: none;
    width: 100%;
}
button:hover{
    opacity: 0.8;
    color: black;
    background-color: lightblue;
}
.text-center{
    color: black;
    font-size: 18px;
    font-weight: lighter;
}
.so{
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}
.alert-danger {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  