{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="{% static 'authentication.css' %}">
	</head>
<body>
<div class ="row1">
	<div class = "col1">
		<h1><strong>Login </strong></h1>
	</div>
</div>

<div class = "row1 ">
	<div class = "col1">
		{% if error %}
		<div class = "alert-danger" role = "alert">
			{{error}}
		</div>
		{% endif %}
		<form method ="POST">
			{% csrf_token %}
			<div class = "form-group">
				<label for = "username" >Username </label>
				<input type = "text" name = "username" class = "form-control" id = "username">
			</div>
			<div class = "form-group">
				<label for = "password" >Password </label>
				<input type = "password" name = "password" class = "form-control" id = "password">
			</div>
			<button type = "submit" class = "btn btn-primary">Login</button>
		</form>
		<hr>
		<div class = "text-center">
			<small>Do not have an account ? </small><a href = "{% url 'register' %}"><em>Register here </em></a>
		</div>
	</div>
</div>
</body>
</html>