{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
	<title>WeatherApp</title>
	<link rel = "icon" href = '{% static "download.jpg" %}'  type = "image/x-icon"> 
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href='{% static "working.css" %}'>
</head>
<body>
<div class ="home">
		{% if user.is_authenticated %}
			<div class="golink" align="right">
   				<form action="{% url 'logoutuser' %}">
    				<button class="btn1 btn" type="submit">Logout </button>
    			</form>
				</div>
				</br>
			{% endif %}
        <h1 class="title" align="center">
                    WeatherApp
        </h1>   
        <hr>
{% if user.is_authenticated %}
<section class="section">
	<p align="center" class="title is-4">Welcome {{user.username}}! Check the weather</p>
    <form method="POST">
    </form>
    <br/>
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                <form method="POST">
                    {% csrf_token %}
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            {{ form.name }}
                        </div>
                        <div class="control">
                            <button class="button is-info" name="city">
                                Add City
                            </button>
                        </div>
                    </div>
                    {%if message%}
                    <div class="notification">
                        {{message}}
                    </div>
                    {%endif%}
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                {% if extended %}
                {% for weather in ex_weather_data %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-50x50">
                                <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="title">{{ weather.city }}</span>
                                    <br>
                                    <span class="subtitle">{{ weather.temperature }}°C, feels like {{ weather.feels_like }}°C</span>
                                    <br> {{ weather.description }}
                                    <br> Air pressure: {{ weather.pressure }} hPa
                                    <br> Humidity: {{ weather.humidity }}%
                                    <br> Wind speed: {{ weather.wind_speed }} m/s
                                </p>
                            </div>
                        </div>
                        <div class="delete">
                            <a href="{% url 'delete' weather.city %}">
                                <button class="delete">
                                </button>
                            </a>
                        </div>
                    </article>
                </div>
                {% endfor %}
                {% else %}
                {% for weather in weather_data %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-50x50">
                                <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="title">{{ weather.city }}</span>
                                    <br>
                                    <span class="subtitle">{{ weather.temperature }}°C</span>
                                    <br> {{ weather.description }}
                                </p>
                            </div>
                        </div>
                        <div class="delete">
                            <a href="{% url 'delete' weather.city %}">
                                <button class="delete">
                                </button>
                            </a>
                        </div>
                    </article>
                </div>
                {% endfor %}
				{% endif %}
			{% endif %}
            </div>
        </div>
    </div>
</section>
</div>
</body>
</html>